.nav-bar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    top: 0;
    background-color: #242424;
    color: #fff;
    height: 4rem;
    width: 100%;
  }
  
  .nav-bar .logo {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin-left: 1rem;
  }
  
  
  /* seccion buscador */
  .search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    margin-left: 12rem;
    height: 2rem;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 0 0.5rem;
  }
  
  .search-bar input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
  }
  
  

  /* seccion de display */
  .nav-bar .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  
  .nav-bar .nav-links a {
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    
  }
  
  .nav-bar .nav-links a:hover {
    color: #646cff;
  }
  