/* css para el body */
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f5f5f5;
  max-width: 100%;
  height: 100vh;
  line-height: inherit;
  
}

/*  estilos generales */

* {
  
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  font-weight: 500;
  color: #646cff;
  outline: none;
  text-decoration: none;
}

/* sacar barra de desplazamiento */
::-webkit-scrollbar {
  display: none;
}

